<div class="container">
    <div class="container">
        <p class="display-6 text-center"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          The Landing Page
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
      </p>
    </div>
  <nav>
    <div class="container">
      <div class="row py-3">
        <div class="col">
         
          <button type="button" class="btn btn-secondary"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg> 
            Add Bookmark
          </button>
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item disabled" href="#">Import Bookmarks</a></li>
              <li><a class="dropdown-item disabled" href="#">Set search engine</a></li>
              <li><a class="dropdown-item disabled" href="#">Export Bookmarks</a></li>
              <li><a class="dropdown-item disabled" href="#">Back up all ...</a></li>
              <li><a class="dropdown-item disabled" href="#">Restore all ...</a></li>
              <li><a class="dropdown-item disabled" href="#">Reset... </a></li>
              <li><a class="dropdown-item disabled" href="#">Value 4 Value</a></li>
              <li><a class="dropdown-item disabled" href="#">Help</a></li>
              <li><a class="dropdown-item disabled" href="#">About</a></li>
            </ul>
          </div>
          </div>
      </div>

      <div class="row">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search bookmarks and the web" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-success" type="button" id="button-addon2">Go</button>
          </div>
      </div>
       

      </div>  
  </nav>


  <div class="list-group">
    <a class="list-group-item list-group-item-action text-center" *ngFor="let bookmark of bookmarks" href={{bookmark.url}}>{{bookmark.name}}
      <span class="float-end"> 
        <div class="dropdown">
          <button class="btn btn-secondary-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled" href="#">Edit</a></li>
            <li><a class="dropdown-item disabled" href="#">Delete...</a></li>
          </ul>
        </div>
      </span>
    </a>
  </div>

</div>

<div class="container">
  <footer class="py-3">
    <div class="text-center">
      <a class="text" title="Return to the top of Landing Page" href="#"><span class="text-muted">The Landing Page has landed.</span></a>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
